<h1>Welcome</h1>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="0011.gif" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Big hairy balls</h4>
    The quick brown fox jumped over the lazy dog. Balls.
    <div>
      <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
    </div>
  </div>
</div>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="balloon_at_sunset.gif" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Vagina</h4>
    Clunge, massive hairy clunge.
    <div>
      <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
    </div>
  </div>
</div>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://gif-avatars.com/img/100x100/driving-a-patrol.gif" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Here is more stuff</h4>
    This is another post with another description under it.
    <div>
      <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
    </div>
  </div>
</div>