<div class="media">
	<div class="lead well">
		<div class="media-left">
			<a href="#">
				<img class="media-object" src="balloon_at_sunset.gif" alt="...">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">Vagina</h4>
			Clunge, massive hairy clunge.
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div>
			<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">Submit a new answer</a>
		</div>

		<%= render 'home/new_answer_form' %>
			<div class="media">
				<div class="media-left">
					<a href="#">
						<img class="media-object" src="balloon_at_sunset.gif" alt="...">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Vagina</h4>
					Clunge, massive hairy clunge.
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<a href="#">
						<img class="media-object" src="balloon_at_sunset.gif" alt="...">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Vagina</h4>
					Clunge, massive hairy clunge.
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
